<!DOCTYPE html>

<html>
<head>
    <link href="Web-flask/web_assets/img/xhier-icon.png" rel="icon">

    <!-- Gg Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- assets -->
    <link href="Web-flask/web_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Web-flask/web_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="Web-flask/web_assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="Web-flask/web_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="Web-flask/web_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- CSS main -->
    <link href="Web-flask/web_assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!--  Header -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:valorantrama9.1@gmail.com">valorantrama9.1@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+6665 624 1293</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/Xhi3r" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100015127746814" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/tng.aj/" class="instagram"><i class="bi bi-instagram"></i></a>
        
            </div>
        </div>
    </section>

    <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <h1>Xhi3r shop<span>.</span></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Market</a></li>
                <li><a href="#portfolio">Course</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    </header>



<!-- main top -->

    <section>

    </section>


<!-- about me -->
    <section>

    </section>



<!-- review -->
    <section>

    </section>



<!-- market -->

    <section>

    </section>



<!-- team-->
    <section>

    </section>



<!-- course -->
    <section>

    </section>



<!-- q&a -->
    <section>

    </section>



<!-- blog -->
    <section>

    </section>



<!-- contact -->
    <section>
        
    </section>



<!-- footer -->
    <section>
        
    </section>




<!-- js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <script src="assets/js/main.js"></script>


</body>
</html>

